[submodule "libp2p"]
	path = libp2p
	url = https://bitbucket.org/the-sekrit-twc/libp2p.git
[submodule "libplacebo"]
	path = libplacebo
	url = https://github.com/haasn/libplacebo.git
	ignore = untracked
